# Rewrite non /build/ requests to /build/

RewriteCond %{REQUEST_URI} !^/build/

RewriteRule ^(.*)$ /build/$1 [L]

# Rewrite requests to non-existing files/dirs to /app/build/index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /build/index.html [L]

Header always set X-FRAME-OPTIONS "DENY"
