.colour-block {
  background: #2d2d30;
  width: 100%;
  padding: 7% 20% 15% 20%;
  color: #fff;
}
.white-block {
  background: #fff;
  width: 100%;
  padding: 7% 20% 5% 20%;
  color: #2d2d30;
  min-height: 100%;
  border-radius: 100%;
  background: white;
  width: 160%;
  margin-left: -30%;
  height: 100%;
  margin-top: -100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: normal;
}
p {
  font-size: 20px;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, #2d2d30 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
}
.skew-ccc {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to left bottom, #fff 49%, #2d2d30 50%);
}

body {
  font-family: "Nunito", sans-serif !important;
  font-size: 11pt !important;
  font-weight: 300 !important;
  line-height: 1.75em !important;
  color: #777;
}

html {
  scroll-behavior: smooth;
}

.homepage {
  overflow-x: hidden;
}

.nav {
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 990px) {
  .nav {
    background: rgba(0, 0, 0, 0.8) !important;
  }
}

.banner-section {
  height: 750px;
  position: relative;
  overflow: hidden;
  background: url("assets/bg2_video_poster.png") no-repeat fixed center;
  background-size: cover;
}
video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: rotate(180deg);
}

.nav-link {
  display: inline-block !important;
  padding: 1.5em 1.5em !important;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  outline: 0;
  color: white;
  position: relative;
}
.nav-item {
  display: inline-block;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
}

.nav-link:hover {
  color: #f6921e !important;
}

.bitcoin-anonymous {
  color: #74b64a !important;
  text-decoration: none !important;
}

.go-to {
  color: #74b64a !important;
  text-decoration: none !important;
}

@media (min-width: 991px) {
  .jumbotron {
    position: absolute;
    background-color: transparent !important;
    color: white;
    left: 30%;
    top: 50%;
    transform: translate(-40%, -50%);
  }
}

@media (max-width: 990px) {
  .jumbotron {
    position: absolute;
    background-color: transparent !important;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

body {
  background-image: url("assets/background-whole.png");
  background-size: cover;
  background-position: center -400px;

  background-repeat: no-repeat;
  background-attachment: initial;
}

.mission-section {
  margin-top: 70px;
  margin-bottom: 70px;
}
.product-section {
  margin-bottom: 70px;
}

@media (min-width: 991px) {
  .product-container {
    width: 50% !important;
  }
}

.development-section {
  background: #2d2d30;
  color: #74b64a;
  margin-bottom: 70px;
  margin-top: 50px;
}

.development-card {
  border-radius: 10px !important;
  /* color: #2d2d30;
  background-color: #fffcf9;
  background-image: linear-gradient(315deg, #fffcf9 0%, #ffd166 74%);
  width: 85%;
  margin: auto; */
  /* background-color: #fbb034;
  background-image: linear-gradient(315deg, #f6921e 0%, rgb(252, 182, 103) 74%); */
  background: transparent !important;
  border: 1px solid #74b64a !important;
}
.card-text,
.card-mission {
  font-size: 18px;
}

.space-top {
  margin-top: 150px;
}

.fadethisdiv {
  opacity: 0;
}

.bouncethisdiv {
  opacity: 0;
}

.underline-title {
  color: #74b64a !important;
  text-align: center;
}

.underline-logos-title:after {
  content: "";
  height: 2px;
  width: 12%;
  background-color: #4b5d3b;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  top: 45px;
}

.underline-contact-title:after {
  content: "";
  height: 2px;
  width: 8%;
  background-color: gainsboro;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  top: 88px;
}

.underline-contact-title {
  margin: 40px 0px;
  color: gainsboro;
}

.contact-section {
  min-height: 100%;
  background: url("assets/banner.jpg") no-repeat 0px 0px fixed rgba(0, 75, 93, 0.85);
  background-size: cover;
  background-blend-mode: color;
  border-radius: 100%;
  width: 160%;
  margin-left: -30%;
  height: 100%;
  margin-top: 125px;
  color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.contact-section .card {
  background: transparent !important;
  text-align: center;
  border: none;
}

.contact-section .card .card-title {
  color: gainsboro;
}

.contact-section .card .card-text {
  color: gainsboro;
}

.contact-section hr {
  margin: 9px auto;
  background: #6cc091;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  width: 35%;
}

.contact-section .card .contact-picture {
  width: 120px;
  margin-bottom: 20px;
  opacity: 0.6;
  border-radius: 100%;
}

.contact-picture-avatar {
  width: 120px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.6;
  border-radius: 45%;
  background: #2d2d30;
}

.contact-logos img {
  width: 18px;
}

@media (min-width: 991px) {
  .development-title:after {
    content: "";
    height: 2px;
    width: 20%;
    background-color: #74b64a;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    top: 60px;
  }
  .development-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 53px !important;
  }
}

.development-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
}

.svg-icon {
  width: 50px;
  margin: auto;
  margin-top: 1.25rem !important;
}

.development-card-body {
  text-align: center;
  flex: none !important;
  font-size: 13px;
  padding: 1.25rem 0 !important;
}

.card-img-top {
  border-radius: 100% !important;
}

.content {
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  height: 100%;
}

.jtk-connector path {
  -webkit-animation: Drawpath 1.5s linear forwards;
  animation: Drawpath 1.5s linear forwards;
  stroke-dasharray: 0, 550;
}

/* @-webkit-keyframes Drawpath {
  from {
    stroke-dasharray: 0, 550;
  }
  to {
    stroke-dasharray: 550, 550;
  }
}
@keyframes Drawpath {
  from {
    stroke-dasharray: 0, 550;
  }
  to {
    stroke-dasharray: 550, 550;
  }
} */
@-webkit-keyframes Drawpath {
  from {
    stroke-dasharray: 0, 550;
  }
  to {
    stroke-dasharray: 600, 600;
  }
}
@keyframes Drawpath {
  from {
    stroke-dasharray: 0, 550;
  }
  to {
    stroke-dasharray: 600, 600;
  }
}

.logo-section {
  margin-bottom: 100px;
}

.slick-slide {
  height: 100px !important;
  display: flex !important;
}

.slick-center {
  opacity: 1;
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}
.highlight {
  font-weight: 900;
}
.highlighted-menu {
  background: orange;
  height: 35px;
  display: flex;
  align-items: center;
  align-self: center;
  margin-left: 35px;
  border-radius: 20px;
  padding: 0 20px !important;
}

.highlighted-menu:hover {
  background: white;
  height: 35px;
  color: orange;
  display: flex;
  align-items: center;
  align-self: center;
  margin-left: 35px;
  border-radius: 20px;
  padding: 0 20px !important;
}

.highlighted-nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
}

.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (min-width: 991px) {
  .lead {
    width: 80%;
  }
}

@media (max-width: 990px) {
  .jumbotron div,
  p {
    text-align: center;
    font-size: 15px !important;
  }

  .jumbotron img {
    width: 85% !important;
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.zksnacks-contact img {
  width: 40px;
}
.zksnacks-contact {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
}

@media (max-width: 575px) {
  .zksnacks-contact {
    width: 72% !important;
    margin-left: 14% !important;
  }
}

@media (max-width: 768px) {
  .contact-section {
    border-radius: 0 !important;
  }
}

.facebook {
  width: 28px !important;
}

footer {
  height: 60px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: floralwhite;
}

@media (max-width: 990px) {
  .jtk-connector {
    display: none;
  }
}

@media (min-width: 991px) {
  .dropdown {
    display: none;
  }
}

@media (max-width: 990px) {
  .dropdown {
    display: block !important;
  }
  .nav-item {
    display: none;
  }
  .highlighted-menu {
    display: none;
  }
}

.menu-icon {
  width: 25px;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item-highlighted {
  display: inline-block;
  background: orange;
  color: white;
  text-align: center;
  width: 115px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.dropdown-item-highlighted:hover {
  display: inline-block;
  background: white;
  color: orange;
  text-align: center;
  width: 115px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8) !important;
  text-align: center !important;
  transform: translate3d(-158px, 72px, 0px) !important;
  border: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  left: auto !important;
  top: 0px !important;
  z-index: 20000 !important;
  position: fixed !important;
  right: -160px !important;
  border-radius: 0 !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: #f6921e !important;
}
