@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  color: white;
  scrollbar-width: thin;
  scrollbar-color: grey black;
}
a {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body.mobile-menu-active {
  overflow: hidden;
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  div {
    @apply text-xl;
  }
}
